<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Spring-Shop</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">SpringShop</a>
        </div>
        <ul class="nav navbar-nav">
            <li ><a href="#">Home</a></li>
            <li class="active"><a href="/items">My items</a></li>
            <li><a href="/settings">Settings</a></li>
            <li><a href="/logout">Logout</a></li>
        </ul>
    </div>
</nav>

<div class="container">
<a href="/items/add">Add item</a>
    <span th:text="${session.loggedUser.getUserName()}"></span>

<br>
    <tr th:each="item, state : ${item}" class="row" th:classappend="${state.odd} ? 'odd-row' : 'even-row'">
        <td th:utext="${item.getItemName()}">Full Name</td>
        <td th:utext="${item.getItemDesc()}">Full Name</td>
    </tr>

</div>



</body>
</html>
