<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script></head>
    <title>Register Page</title>
</head>
<body>

<div id="container">
<form  th:action="@{/register}"  method="post">
    <input type="text" name="userName" placeholder="Name" /><br>
    <input type="email" name="userEmail" placeholder="Email"/><br>
    <input type="password" name="userPassword" placeholder="password"/><br>
    <input type="password" name="confirmPassword" placeholder="password"/>

    <input type="submit" value="Submit" /><input type="submit" value="clear" />
</form>
</div>
</form>
</body>
</html>