<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Register Page</title>
</head>
<body>
<div id="container">
<form  th:action="@{/register}"  method="post">
    <input type="text" name="userName" placeholder="Name" /><br>
    <input type="email" name="userEmail" placeholder="Email"/><br>
    <input type="password" name="userPassword" placeholder="password"/><br>
    <input type="password" name="confirmPassword" placeholder="password"/>

    <input type="submit" value="Submit" /><input type="submit" value="clear" />
</form>
</div>
</form>
</body>
</html>